<main class="page-container">
  <section class="signup-section">
      <div class="signup">
          <img src="images/header/logo.png" class="atb-logo" alt="Logo">
          <h1 class="signup-title">Demande d'accès</h1>
          <div class="signup-form">
              <form class="form">
                <div class="hour-selection">
                  <label for="startHour">Start Hour:</label>
                  <input class="input-group"  type="number"min="0" max="23" placeholder="HH" />
                  
                  <label for="endHour">End Hour:</label>
                  <input class="input-group"  type="number" min="0" max="23" placeholder="HH" />
                </div>
                  <div class="form-line">
                      <input 
                        class="input-group" 
                        type="date" 
                      />
                  </div>
              </form>
          </div>
          <button class="cta-button">Demande d'accès</button>
      </div>
  </section>
</main>
