<div id="editModal" class="modal" [class.show]="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modifier Utilisateur</h5>
      <button type="button" class="btn-close" (click)="closeModal()"></button>
    </div>

    <div *ngIf="userData" class="modal-body">
      <div class="mb-3">
        <label class="form-label">Nom :</label>
        <input [(ngModel)]="userData.last_name" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Prénom :</label>
        <input [(ngModel)]="userData.first_name" class="form-control" />
      </div>

      <div class="mb-3">
        <label class="form-label">Email :</label>
        <input [(ngModel)]="userData.email" class="form-control" type="email" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Fermer</button>
      <button type="button" class="btn btn-primary" (click)="saveChanges()">Sauvegarder</button>
    </div>
  </div>
</div>
