<main class="page-container">
  <section class="signup-section">
      <div class="signup">
          <img src="images/header/logo.png" class="tunilanci-logo">
          <h1 class="signup-title">Ajouter un employé</h1>
          <div class="signup-form">
              <form class="form">
                  <div class="form-line">
                      <input type="text" placeholder="Prénom" class="input-group" name="first-name" required>
                      <input type="text" placeholder="Nom" class="input-group" name="last-name" required>
                  </div>
                  <div class="form-line">
                      <input type="email" placeholder="Email" class="input-group" name="email" required>
                  </div>
                  <div class="form-line">
                      <input type="file" class="form-control input-group" id="profile-image" (change)="onFileSelected($event)" accept="image/*">
                  </div>
                  <div class="image-preview-container">
                      <img *ngIf="imagePreview" [src]="imagePreview" alt="Aperçu du profil" class="img-thumbnail">
                  </div>
              </form>
          </div>
          <button class="cta-button">
              <span>Ajouter</span>
          </button>
      </div>
  </section>
</main>

