<!-- ajout.component.html -->
<main class="page-container"> 
    <section class="ajout-section">
        <div class="ajout">
            <h1 class="ajout-title">Ajouter un employé</h1>
            <div class="ajout-form">
                <form class="form" (submit)="addEmployee(firstName, lastName, email); $event.preventDefault()">
                    <div class="form-line">
                        <input #firstName type="text" placeholder="Prénom" class="input-group" name="first-name" required>
                        <input #lastName type="text" placeholder="Nom" class="input-group" name="last-name" required>
                    </div>
                    <div class="form-line">
                        <input #email type="email" placeholder="Email" class="input-group" name="email" required>
                    </div>
                    <div class="form-line">
                        <input type="file" class="form-control input-group" id="profile-image" (change)="onFileSelected($event)" accept="image/*">
                    </div>
                    <!-- This container (label + image) is completely hidden until imagePreview exists -->
                    <div class="image-preview-container" >
                      <img [src]="imagePreview" class="img-thumbnail" />
                    </div>
                    <button type="submit" class="cta-button">
                        <span>Ajouter</span>
                    </button>
                </form>
            </div>
        </div>
    </section>
  </main>