<main class="page-container">
  <section class="login-section">
    <div class="login">
      <img src="images/header/logo.png" class="atb-logo" alt="Logo de l'entreprise">
      <h1 class="login-title">Se connecter</h1>

      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

      <div class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          <div class="form-line">
            <div class="input-container">
              <input type="text" formControlName="email" placeholder="Email" class="input-group" required>
              <span class="text-danger" *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched">
                Email ou nom d'utilisateur invalide
              </span>
            </div>
          </div>

          <div class="form-line">
            <div class="input-with-icon">
              <input [type]="isPasswordVisible ? 'text' : 'password'" formControlName="password" placeholder="Mot de passe" class="input-group" required>
              <button type="button" (click)="togglePasswordVisibility()" class="eye-icon" aria-label="Afficher/Masquer le mot de passe">
                <img [src]="isPasswordVisible ? 'images/signup/visible.svg' : 'images/signup/hidden.svg'" alt="Icône œil">
              </button>
            </div>
            <span class="text-danger" *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">
              Mot de passe est invalide
            </span>
          </div>

          <a [routerLink]="'/Verif'" class="forget-password">Mot de passe oublié ?</a>


          <div class="agreement-section">
            <input type="checkbox" id="rememberMe" formControlName="rememberMe" class="checkbox">
            <label for="rememberMe" class="agreement-text">
              <span>Se souvenir de moi</span>
            </label>
          </div>

          <button type="submit" class="cta-button" [disabled]="isLoading">
            <span *ngIf="!isLoading">Se connecter</span>
            <span *ngIf="isLoading">Connexion...</span>
          </button>
        </form>
      </div>

      <div class="divider-container" role="separator" aria-orientation="horizontal">
        <div class="divider-line"></div>
        <div class="divider-text">Vous n'avez pas de compte ?</div>
        <div class="divider-line"></div>
      </div>

      <div>
        <a routerLink="/SignUp" class="login-link">S'inscrire</a>
      </div>
    </div>
  </section>
</main>
