<main class="page-container">
    <section class="verif-section">
      <div class="verif">
        <img src="images/header/logo.png" class="atb-logo" alt="Logo">
        <h1 class="verif-title">Mot de Passe oublié ?</h1>
        <div class="verif-form">
          <form class="form">
            <div class="verif-line">
              <input 
                type="email" 
                placeholder="Entrez votre email" 
                class="input-group" 
                id="email" 
                required
              />
            </div>
          </form>
        </div>
        <button (click)="getVerif()" class="cta-button">Envoyer le Code</button>
      </div>
    </section>
  </main>
  