* {
  font-family:  Georgia , serif;
}

:host {
  display: contents;
}

.page-container {
  margin: 5vw 0;
}

.illustrator {
  width: 30vw;
}

.verif-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  /* Less padding */
  width: 100%;
}

.verif {
  width: 500px;
  padding: 35px 50px;
  border-radius: 24px;
  border: 2.5px solid var(--Cards-Stroke);
  background: linear-gradient(155deg,
      rgba(181, 181, 181, 0.25) 0%,
      rgba(255, 255, 255, 0.25) 50%,
      rgba(228, 228, 228, 0.25) 100%);


  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 12px rgba(162, 5, 26, 0.5);
}

.atb-logo {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.verif-title {
  font-size: 1.8rem;
  color: rgb(162, 5, 26);
  text-align: center;
  margin-bottom: 10px;
}
.verif-form {
  width: 100%;
  margin-top: 10px;
}
.input-group {
  flex: 1;
  padding: 8px 18px;
  border: 2px solid #e4e4e4;
  border-radius: 25px;
  background-color: #fff;
  font-size: 1rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-group::placeholder {
  color: #aaa;
}

.input-group:focus {
  border-color: rgb(162, 5, 26);
  box-shadow: 0 0 4px rgba(162, 5, 26, 0.4);
  outline: none;
}
.input-field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.verif-line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cta-button {
  margin-top: 15px;
  padding: 10px 25px;
  font-size: 1rem;
  border: 2px solid rgb(162, 5, 26);
  border-radius: 25px;
  background-color: rgb(162, 5, 26);
  color: white;
  cursor: pointer;
  transition: all 0.3s;


}
.cta-button:hover {
  background-color: transparent;
  color: rgb(162, 5, 26);
}





