* {
  font-family:  Georgia , serif;
}

:host {
  display: contents;
}

.page-container {
  margin-top: 8vw;
  margin-bottom: 8vw;
  margin-left: auto;
}

.illustrator {
  width: 30vw;
}

.signup-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  font-family: Neulis Alt, sans-serif;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.signup {
  border-radius: 24px;
  border: 2.5px solid var(--Cards-Stroke, #b5b5b5);
  background: linear-gradient(
    155deg,
    rgba(181, 181, 181, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 50%,
    rgba(228, 228, 228, 0.25) 100%
  );
  backdrop-filter: blur(100px);
  padding: 35px 50px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 12px rgba(162, 5, 26, 0.5);
}

.atb-logo {
  aspect-ratio: 4;
  width: 30px;
  height: 30px;
}

.signup-title {
  margin-top: 10px;
  color: rgb(162, 5, 26);
  font-size: 2.5vw;
  line-height: 1.2;
}


.signup-form {
  margin-top: 25px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 28vw;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 59px;
  background-color: rgba(255, 255, 255, 1);
  min-height: 20px;
  padding: 10px 20px;
  width: 100%;
  border: 3px #e4e4e4;
  font-size: 1vw;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 2px 2px 6px rgba(162, 5, 26, 0.3);
}

.input-group::placeholder {
  color: rgba(138, 134, 134, 0.5);
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group:hover {
  background-color: #e4e4e4;
}

.input-group:focus {
  border: 2px solid rgb(162, 5, 26);
  box-shadow: 0px 0px 10px rgba(162, 5, 26, 0.6);
}

.password-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cta-button {
  text-shadow: 2px 2px 8px rgba(162, 5, 26, 0.5);
  border-radius: 43px;
  box-shadow: 4px 4px 12px rgba(162, 5, 26, 0.5);
  background-color: rgb(162, 5, 26);
  margin-top: 25px;
  font-size: 1.2vw;
  font-weight: 400;
  color: #e4e4e4;
  line-height: 1.2;
  padding: 8px 20px;
  border: 2px solid rgb(162, 5, 26);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

.cta-button::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(162, 5, 26);
  font-size: 1.5vw;
  opacity: 0;
  transition: opacity 0.3s ease, left 0.3s ease;
}

.cta-button:hover::before {
  content: ">";
  left: 10px;
  opacity: 1;
}

.cta-button:hover {
  padding: 10px 2vw;
  background-color: transparent;
  color: rgb(162, 5, 26);
  transform: translateY(-2px);
}

.cta-button:focus {
  outline: 2px solid #fff;
  outline-offset: 2px;
}



